<div class="w-75 m-auto border p-4 rounded shadow">

<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mentor_user_path.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <div class="field">
      <%= form.label :firstName %>
      <%= form.text_field :firstName, class: "form-control" %>
      </div>
      
      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control" %>
      </div>
      
      <div class="field">
        <%= form.label :occupation %>
        <%= form.text_field :occupation, class: "form-control" %>
      </div>
      
      <div class="field">
        <%= form.label :bio %>
        <%= form.text_area :bio, class: "form-control" %>
      </div>
    </div>

    <div class="col">
      <div class="field">
        <%= form.label :lastName %>
        <%= form.text_field :lastName, class: "form-control" %>
      </div>
      <div class="field">
        <%= form.label :address %>
        <%= form.text_field :address, class: "form-control" %>
      </div>
      <div class="field">
        <%= form.label :expertise %>
        <%= form.text_field :expertise, class: "form-control" %>
      </div>
      <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control" %>
    </div>
      <div class="field">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="actions my-2">
    <%= form.submit "Save", class: "form-control w-25 m-auto rounded-pill btn-info" %>
  </div>
<% end %>
<p>Do you have an account?<br><%= link_to "log in", new_session_path,class:"btn btn-primary btn-sm" %>
</div>